@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light theme colors */
    --background-color: #fff;
    --text-color: #1c1c1c;
    --border-color: #3b3b3b;
    --project-background-color: #f0f0f0;
    --button-background-color: #e0e0e0;
    --link-color: #58a6ff;
}

.dark-mode {
    /* Dark theme colors */
    --background-color: #1c1c1c;
    --text-color: #c9d1d9;
    --border-color: #565656;
    --project-background-color: #2a2a2a;
    --button-background-color: #333;
    --link-color: #79c0ff;
}

/* Text styles */
h1 {
    color: #c9d1d9;
    font-size: 2em;
}

h42 {
    animation: fadeIn 2s;
    color: #9af3a7;
    font-size: 3em;
    font-weight: bold;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
}

p {
    color: #c9d1d9c9;
    font-size: 1em;
    line-height: 1.6;
}

a {
    color: #58a6ff;
}

/* Button styles */
button {
    background-color: #1c1c1c;
    border: none;
    color: #c9d1d9;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

/* Main layout styles */
main {
    margin-left: 250px;
    padding: 20px;
}

.main-content {
    margin-left: 10px;
}

.content,
.projects-section {
    padding: 10px;
}

.content {
    margin: auto;
    background-color: #1c1c1c;
    padding: 50px;
}

.content p {
    border: 1px solid #3b3b3b;
    border-radius: 4px;
    background-color: #1c1c1c;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Profile image styles */
.profile-image {
    max-width: 20%;
    display: block;
    height: auto;
    margin: 0 0 50px 0;
    width: 100%;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    will-change: filter;
    transition: filter 300ms;
}

.profile-image:hover {
    filter: drop-shadow(0 0 2em #9a7fa7);
}

.profile-image {
    width: 50%;
}

/* Project styles */
.project {
    animation: 1s ease-in 0s 1 slideInFromBottom, 1s ease-in 0s 1 fadeIn;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease,
        box-shadow 0.3s ease, border-color 0.3s ease;
    border: 1px solid #3b3b3b;
    background-color: #1c1c1c;
    padding: 15px;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    min-width: 280px;
    max-width: 45%;
    flex: 1;
}

.project:hover {
    transform: translateY(-1px) scale(1.05);
    border-color: #9af3a7;
    filter: drop-shadow(0 0 2em #9af3a7);
}

.project.animate-on-scroll {
    animation: 1s ease-in 0s 1 slideInFromBottom, 1s ease-in 0s 1 fadeIn;
    opacity: 1;
    transform: translateY(0);
}

.project img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.project h3 {
    font-size: 1em;
}

.project p {
    color: #c9d1d9c9;
    font-size: 1em;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #58a6ff;
    text-decoration: none;
}

.projects-section {
    padding: 20px;
    color: #c9d1d9;
}

.projects-grid {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    padding: auto;
    margin: auto;
}

/* Badge styles */
.badge {
    display: inline-flex;
    align-items: center;
    background-color: #1c1c1c;
    padding: 4px 8px;
    margin-right: 5px;
    border: 1px solid #3b3b3b;
    border-radius: 4px;
}

.badge-icon {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.badge-label {
    font-size: 1em;
}

/* Label for Type: etc. of the project */
.label {
    margin-right: 5px;
    color: #c9d1d9;
    font-size: 1em;
}

/* Media queries */
@media (max-width: 768px) {
    .project {
        max-width: 100%;
    }
}

@media (max-width: 902px) {
    .project img {
        width: 100%;
        height: auto;
    }
}

/* Animations */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
